########################
## VRRP configuration ##
########################

vrrp_instance failover_test {

{% if inventory_hostname in groups['ubuntuvrrp'][0] %}
state MASTER
{% else %}
state BACKUP
{% endif %}
interface enp0s8
virtual_router_id 10
{% if inventory_hostname in groups['ubuntuvrrp'][0] %}
priority {{ init_value }}
{% else %}
priority 90
{% endif %}
advert_int 4

authentication {
auth_type PASS
auth_pass 1111
}

unicast_peer {
{% for host in groups['ubuntuvrrp'] %}
  {{ hostvars[host].ansible_host }}
{% endfor %}
}

        virtual_ipaddress {
	{% for host in groups['ubuntuvrrp'] %}
10.25.128.10{{loop.index}} dev enp0s8 label enp0s8:vip{{loop.index}}
        {{ loop.index + 100 }}
        {% endfor %}
}

}
